@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "poppins";
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
  border: none;
  background: none;
}
header {
  background-color: brown;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 20px;
}
nav {
  /* background-color: lightgoldenrodyellow; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
img {
  width: 100%;
}
.styled-image {
  border: 1.8px solid #000; /* Add a black border */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Add a shadow */
  border-radius: 8px; /* Optional: add rounded corners */
}
.content {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1400px;
}

.nav-menu {
  display: flex;
  gap: 10px;
}
.nav-items .nav-link {
  padding: 8px 16px;
  border-radius: 30px;
  transition: 0.5s ease;
  color: white;
}

.nav-items .nav-link:hover {
  background-color: peru;
  color: black;
}
.logo {
  /* background-color: aliceblue; */
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0rem 1rem;
  display: inline;
}

.hero {
  background-color: antiquewhite;
  min-height: 100vh;
}
.hero .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  /* color: white; */
}

body > main > section > div > div.hero-image-wrapper {
  max-width: 500px;
  margin-right: 30px;
}
body > main > section > div > div.hero-details > h1 {
  max-width: 70%;
  font-size: 3rem;
}
body > main > section > div > div.hero-details > p {
  max-width: 70%;
  margin: 24px 0 40px;
  font-size: 1.3rem;
}
.get-started-button {
  padding: 10px 26px;
  color: white;
  border-radius: 30px;
  background-color: red;
  border: 2px solid transparent;
  transition: 0.3s ease;
}
.get-started-button:hover {
  color: black;
  background-color: white;
  border-color: black;
}

.demo-preview > h2 {
  display: flex;
  justify-content: center;
}
.demo-preview > p {
  display: flex;
  justify-content: center;
}
.steps {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.step {
  background-color: aliceblue;
  margin: 20px;
  flex: 1;
  max-width: 400px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
