doctype html
html
    head
        title #{title}
        //link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/script.js', defer)
        script(src="https://unpkg.com/htmx.org@1.9.6")
        script(src="https://unpkg.com/hyperscript.org@0.9.11")
    
        style.
            h1 {
                font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
                font-weight: bold;
                margin: 0; 
                display: flex; 
                justify-content: center; 
                align-items: center; 
                position: absolute; 
                top: 50%; 
                left: 50%; 
                transform: translate(-50%, -50%);
                color: white;
                text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
                transition: top 0.7s; 
                z-index: 1; 
            }

            .sticky{
                position: fixed;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                margin-top: 50px;
            
        
            }


            #starfield {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 0;
                overflow: hidden;
            }

            canvas {
                /* Make the canvas fixed to cover the whole window*/
                position: fixed; 
                top: 0;
                left: 0;
                width: 100vw; 
                height: 100vh; 
                z-index: -1; 
                /* Remove any extra space below the canvas */
                display: block; 
            }

            
            .name-container {
                margin-top: 100vh;
                width: 50vw;
                transform: translateX(50%);
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                
            }

            .square3 {
                width: 40vw;
                height: 100px;
                background: rgba(255, 255, 255, 0.1);
                border-radius: 15px;
                box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.5); 
                /* for the Glowing effect */
                color: white;
                margin-top: 20px;
            

                

                //* text settings*/
                display: flex;
                justify-content: center; 
                align-items: center; 
                text-align: center; 
                font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
                font-weight: bold;
                font-size: 20px;
                z-index: 3;
            
            }
            .square3-timo {
                display : flex;
                width: 40vw;
                height: 100px;
                background: rgba(255, 255, 255, 0.1);
                border-radius: 15px;
                box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.5); 
                /* for the Glowing effect */
                color: white;
                margin-top: 20px;
            

                

                //* text settings*/
                display: flex;
                justify-content: center; 
                align-items: center; 
                text-align: center; 
                font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
                font-weight: bold;
                font-size: 20px;
                z-index: 3;
            
            }

            .move-left {
                width : 20vw;
                transform:translateX(-5%);
                transition: width 0.16s ease, transform 0.3s ease;
            }
            


            /* found out why the button is not pressable, because of the z value 
            button {
            position: relative; 
            /* Add positioning context 
            z-index: 2; 
            /* Ensure it's above other elements 
            }*/

            /*testing hover*/

            /* first make the box hidden (completelt) instead of being transparent*/

            .hidden {
                width :0;
                opacity: 0;
                max-height: 0;
                transform: scale(0.9);
                overflow: hidden; 
                /* Prevent content from spilling out during collapse */
                transition: opacity 0.5s ease, max-height 0.5s ease, transform 0.5s ease; 
                /* Smooth transition */
                pointer-events: none; 
                /* Disable interaction while hidden */
            }

            .visible {
                width : 20vw;
                opacity: 1;
                max-height: 200px; 
                /* Adjust to fit the content height */
                transform: scale(1); 
                /* Return to normal size */
                pointer-events: auto; 
                /* Enable interaction */
            }
            
            .timo{
                text-align: right;
                margin-right: 7px;
            }

            @keyframes float {
                0% {
                    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
                    transform: translatey(0px);
                }
                50% {
                    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
                    transform: translatey(-4px);
                }
                100% {
                    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
                    transform: translatey(0px);
                }
            }

           .avatar {
                display: inline;
                transform: translateX(5px);
                width: 65px;
                height: 65px;
                box-sizing: border-box;
                border: 5px white solid;
                border-radius: 50%;
                overflow: hidden;
                box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
                transform: translatey(0px);
                animation: float 6s ease-in-out infinite;
                img {
                    width: 100%;
                    height: auto;
                }
            }

    
    body
        h1#jjb-team JJB TEAM
        div#starfield


        .name-container
            div.square3(_="on mouseenter \
                            add .visible to #hidden-square1 \
                            add .move-left to me \
                        on mouseleave \
                        remove .visible from #hidden-square1 \
                        remove .move-left from me")
                        p Benedict 黃志斌 411855157
            //- div.square3(_="on mouseenter \
            //-                 add .visible to #hidden-square1 \
            //-             on mouseleave \
            //-             remove .visible from #hidden-square1 \
            //-             ")
                p Benedict 黃志斌 411855157
            div#hidden-square1.square3.hidden
                p bio desc etcdffffffffffffffffffffffffffffffffffffffffffffffffffff

            div.square3(_="on mouseenter \
                            add .visible to #hidden-square2 \
                            add .move-left to me \
                        on mouseleave \
                        remove .visible from #hidden-square2 \
                        remove .move-left from me")
                p Helga 李韋前 411855033
            div#hidden-square2.square3.hidden
                p bio desc etc
            
            div.square3(_="on mouseenter \
                            add .visible to #hidden-square3 \
                            add .move-left to me \
                        on mouseleave \
                        remove .visible from #hidden-square3 \
                        remove .move-left from me")
                p Julio 鍾國榮 411855116
            div#hidden-square3.square3.hidden
                p bio desc etc

            div.square3-timo(_="on mouseenter \
                            add .visible to #hidden-square4 \
                            add .move-left to me \
                        on mouseleave \
                        remove .visible from #hidden-square4 \
                        remove .move-left from me")
                p Timotius 張慧榮 411856114
            div#hidden-square4.square3-timo.hidden
                div.avatar
                    img(src="photos/timo.jpg", alt="timo profile")
                p.timo Hi, I am a 20 y.o TKU student
