doctype html
html
    head
        title #{title}
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/script.js', defer)
        script(src="https://unpkg.com/htmx.org@1.9.6")
        script(src="https://unpkg.com/hyperscript.org@0.9.11")


    body
        h1#jjb-team JJB Team
        
        button(_="on click log 'clicked!'") Click Me

        div#starfield

        .container
            div.square3(_="on mouseenter add .visible to #hidden-square1 on mouseleave remove .visible from #hidden-square1")
                p Benedict 黃志斌 411855157
            div#hidden-square1.square3.hidden
                p bio desc etc

            div.square3(_="on mouseenter add .visible to #hidden-square33 on mouseleave remove .visible from #hidden-square33") tees hover
            div#hidden-square33.square3.hidden
                p bio desc etc

            div.square3(_="on mouseenter add .visible to #hidden-square2 on mouseleave remove .visible from #hidden-square2")
                p Helga 李韋前 411855033
            div#hidden-square2.square3.hidden
                p bio desc etc
            
            div.square3(_="on mouseenter add .visible to #hidden-square3 on mouseleave remove .visible from #hidden-square3")
                p Julio 鍾國榮 411855116
            div#hidden-square3.square3.hidden
                p bio desc etc

            div.square3(_="on mouseenter add .visible to #hidden-square4 on mouseleave remove .visible from #hidden-square4")
                p Timotius 張慧榮 411856114
            div#hidden-square4.square3.hidden
                p bio desc etc
