doctype html
html
    head
        title #{title}
        //link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/script.js', defer)
        script(src="https://unpkg.com/htmx.org@1.9.6")
        script(src="https://unpkg.com/hyperscript.org@0.9.11")
    
        style.
            h1 {
                font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
                font-weight: bold;
                margin: 0; 
                display: flex; 
                justify-content: center; 
                align-items: center; 
                position: absolute; 
                top: 50%; 
                left: 50%; 
                transform: translate(-50%, -50%);
                color: white;
                text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
                transition: top 0.7s; 
                z-index: 1; 
            }

            .sticky{
                position: fixed;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                margin-top: 50px;
            }


            #starfield {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 0;
                overflow: hidden;
            }

            canvas {
                /* Make the canvas fixed to cover the whole window*/
                position: fixed; 
                top: 0;
                left: 0;
                width: 100vw; 
                height: 100vh; 
                z-index: -1; 
                /* Remove any extra space below the canvas */
                display: block; 
            }

            
            .container {
                margin-top: 100vh;
                width: 50vw;
                transform: translateX(50%);
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
            }

            .square3 {
                width: 400px;
                height: 100px;
                background: rgba(255, 255, 255, 0.1);
                border-radius: 15px;
                box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.5); 
                /* for the Glowing effect */
                color: white;
                margin: 20px;

                

                //* text settings*/
                display: flex;
                justify-content: center; 
                align-items: center; 
                text-align: center; 
                font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
                font-weight: bold;
                font-size: 20px;
                z-index: 3;
            
            }


            /* found out why the button is not pressable, because of the z value 
            button {
            position: relative; 
            /* Add positioning context 
            z-index: 2; 
            /* Ensure it's above other elements 
            }*/

            /*testing hover*/

            /* first make the box hidden (completelt) instead of being transparent*/

            .hidden {
                opacity: 0;
                max-height: 0;
                transform: scale(0.9);
                overflow: hidden; 
                /* Prevent content from spilling out during collapse */
                transition: opacity 0.5s ease, max-height 0.5s ease, transform 0.5s ease; 
                /* Smooth transition */
                pointer-events: none; 
                /* Disable interaction while hidden */
            }

            .visible {
                opacity: 1;
                max-height: 200px; 
                /* Adjust to fit the content height */
                transform: scale(1); 
                /* Return to normal size */
                pointer-events: auto; 
                /* Enable interaction */
            }

    
    body
        h1#jjb-team JJB TEAM
        div#starfield


        .container
            div.square3(_="on mouseenter add .visible to #hidden-square1 on mouseleave remove .visible from #hidden-square1")
                p Benedict 黃志斌 411855157
            div#hidden-square1.square3.hidden
                p bio desc etc

            div.square3(_="on mouseenter add .visible to #hidden-square2 on mouseleave remove .visible from #hidden-square2")
                p Helga 李韋前 411855033
            div#hidden-square2.square3.hidden
                p bio desc etc
            
            div.square3(_="on mouseenter add .visible to #hidden-square3 on mouseleave remove .visible from #hidden-square3")
                p Julio 鍾國榮 411855116
            div#hidden-square3.square3.hidden
                p bio desc etc

            div.square3(_="on mouseenter add .visible to #hidden-square4 on mouseleave remove .visible from #hidden-square4")
                p Timotius 張慧榮 411856114
            div#hidden-square4.square3.hidden
                p bio desc etc
