doctype html
html
  head
    title Blank White Website
    style.
      body {
        background-color: white;
        margin: 0;
        padding: 0;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Helvetica, sans-serif;
        font-weight: bold;
      }
  body
    header
        nav
            ul 
                li: a(href="/about") about us
    h1 Blank White Website
