doctype html
html
    head
        title #{title}
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/script.js', defer)
        script(src="https://unpkg.com/htmx.org@1.9.6")
        script(src="https://unpkg.com/hyperscript.org@0.9.11")


    body
        h1#jjb-team JJB Team
        
        button(_="on click log 'clicked!'") Click Me


        div#starfield
        .container
            div.square3
                p Benedict 黃志斌 411855157
            div.square3
                p Helga 李韋前 411855033
            div.square3
                p Julio 鍾國榮 411855116
            div.square3
                p Timotius 張慧榮 411856114
