canvas {
  position: fixed; /* Make the canvas fixed to cover the whole window */
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  z-index: -1; 
  display: block; /* Remove any extra space below the canvas */
}

#starfield {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}
h1 {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: bold;
  margin: 0; /* Remove default margin */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: absolute; /* Set position to absolute for easy movement */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for centering */
  color: white; /* Optional: Change text color to ensure visibility */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  transition: top 0.7s; 
  z-index: 1; 
}
.sticky{
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
}
.container2 {
  margin-top: 100vh;
  width: 50vw;
  transform: translateX(50%);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
   /*background-color: aqua; */
}
.square3 {
  width: 500px;
  height: 100px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.5); /* for the Glowing effect */
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  /* text settings*/
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
  z-index: 3;
}
.square3:hover{
  background-color: #444;
  transform: translateX(-50px);
}
.bio-container {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  position: absolute;
  right: -42%; /* Position it off-screen initially */
  width: 40%; /* Set a fixed width */
  height: 0; /* Start with no height */
  /* background-color: #f9f9f9; */
  color: white;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7),
    /* First shadow */ 2px 2px 0 rgba(0, 0, 0, 0.7),
    /* Second shadow, slightly offset */ 3px 3px 2px rgba(0, 0, 0, 0.7); /* Third shadow with blur */
  padding-top: 30px;
  border: 1px solid #ddd;
  opacity: 0;
  overflow: hidden; 
  transition: all 2s ease;
}

.bio-container.visible {
  height: 83.5%; /* Expand to full height */
  padding-top: 30px;
  opacity: 1;
  right: -30%; /* Slide in */
  transition: height 2s ease;
}
/* When the screen width is less than or equal to 1200px */
@media (max-width: 1200px) {
  .bio-container {
    width: 30%;
  }
}

/* When the screen width is less than or equal to 900px */
@media (max-width: 900px) {
  .bio-container{
    width: 25%;
  }
}

/* When the screen width is less than or equal to 600px */
@media (max-width: 600px) {
  .bio-container {
    width: 20%;
  }
}

/* When the screen width is less than or equal to 400px */
@media (max-width: 400px) {
  .bio-container {
    width: 15%;
  }
}
.hidden {
  opacity: 0;
  max-height: 0;
  transform: scale(0.5);
  overflow: hidden; /* Prevent content from spilling out during collapse */
  transition: opacity 1.5s ease, max-height 1s ease, transform 2s ease; /* Smooth transition */
  pointer-events: none; /* Disable interaction while hidden */
}
.visible {
  opacity: 1;
  max-height: 1000px; /* Adjust to fit the content height */
  transform: scale(1); /* Return to normal size */
  pointer-events: auto; /* Enable interaction */
}

.button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  border-radius: 10px;
  background-color: #393939;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  height: 200px;  
  transition: all 1.5s;
  cursor: pointer;
  z-index: 4;
}
.button:hover {
  background-color: #000000;
  width: 250px;
}
.avatar {
  margin: auto;
  width: 40%;
  height: 15%;
  box-sizing: border-box;
  border: 5px white solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  img {
    width: 100%;
    height: auto;
  }
}

.swal2-popup {
  font-family: "DynaPuff", sans-serif;
  font-weight: 500;
}


