/*masih test how to put the judul di paling atas*/
h1 {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: bold;
  margin: 0; /* Remove default margin */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: absolute; /* Set position to absolute for easy movement */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for centering */
  color: white; /* Optional: Change text color to ensure visibility */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  transition: top 0.7s; 
  z-index: 1; 
}

.sticky{
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
}


#starfield {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

canvas {
  position: fixed; /* Make the canvas fixed to cover the whole window */
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  z-index: -1; 
  display: block; /* Remove any extra space below the canvas */
}
/*
.container{
  margin-top: 100vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}*/
.container {
  margin-top: 100vh;
  width: 50vw;
  transform: translateX(50%);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
   /*background-color: aqua; */
}

.square3 {
  width: 1400px;
  height: 100px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.5); /* for the Glowing effect */
  color: white;
  margin: 20px;

  /* text settings*/
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
  z-index: 3;
  
}

/* found out why the button is not pressable, because of the z value */
button {
  position: relative; /* Add positioning context */
  z-index: 2; /* Ensure it's above other elements */
}

/*testing hover*/

.hidden {
  display: none;
}

.show {
  display: block;
}





